<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Upload</title>

    <link rel="stylesheet" href="static/css/output.css">
</head>
<body>
    <div class="border border-green-500  shadow-md mt-10 rounded-md ml-auto mr-auto flex px-8 py-6 flex-col items-center w-[50%]">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50" role="alert">
                    <span class="font-medium">{{ message }}</span>
                  </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <h2 class="text-xl font-bold mb-4">Upload Your Only XML File</h2>
        <form method="post" enctype="multipart/form-data">
            
            <label class="block mb-2 text-sm font-medium text-gray-900" for="file_input">Upload file</label>
            <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 mb-2" id="file_input" type="file" name="file">

            <input type="submit" value="Upload">
          </form>
    </div>
</body>
</html>